<div class="row">

    <div>

        <form name="login_user">

            <div class="text-center">
                <h1>Please Login</h1>
            </div>

            <div class="form-group">
                <label for="email">E-mail Address</label> <span class="control-label" for="inputSuccess2" ng-show="emailExists">{{emailStatus}}</span>
                <input type="email" name="email" class="form-control" ng-model="loginUser.email" placeholder="E-mail Address" required />
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : emailExists}" aria-hidden="true"></span>
                <div class="alert alert-danger" style="width: 250px;" ng-show="login_user.email.$dirty && login_user.email.$invalid && login_user.email.$touched">Must be valid e-mail address</div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-model="loginUser.password" placeholder="Password" required />
                <span ng-class="{'glyphicon glyphicon-ok form-control-feedback' : enteredPassword}" aria-hidden="true"></span>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="userLogin()" value="login user">Submit</button>

        </form>

        <br /><br />

    </div>

</div>
